body {
    font-family: 'Merriweather', serif;
    margin: 0px;
    padding: 0px;
    background: url('img/gym-women.jpg');
    color: white;
}

.left {
    position: absolute;
    left: 60px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */
}

.mid {
    /* border: 2px solid greenyellow; */
    display: block;
    width: 45%;
    margin: 20px auto;
    top: 20px;
    
    
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgba(189, 189, 184, 0.767);
}
.left img{
    width: 40px;
}
.left div{
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}
.left img{
    display:inline-block;
    width: 60px;
}
.container{
    /* border: 2px solid green; */
    display: inline-block;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 10px;
}
.btn{
    font-family: 'Merriweather', serif;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(92, 85, 85);
}
.logobottom{
    line-height: 18px;
    font-size: 22px;
}
.form-group input{
    font-family: 'Merriweather', serif;
    text-align: center;
    display: block;
    width: 448px;
    padding: 9px;
    border: 2px solid black;
    margin: 11px auto ;
    font-size: 25px;
    border-radius: 8px;
    
}
.container h1{
    text-align: center;
}
.container{
    background-color: black;
    opacity: 70%;
    
}
.container button{
    display: block;
    width: 93%;
    margin: 19px auto;
    line-height: normal;
    height: 53px;
}
.btn:hover{
    background-color: rgb(70, 67, 67);
}
.about{
    background-color: black;
    opacity: 104%;
    /* border: 2px solid greenyellow; */
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 207px;
    right: 90px;
    width: 516px;
    padding: 44px;
}
.about h1{
    color: white;
}